
__pycache__/
*.py[cod]
*.pyo
*.pyd

venv/
.venv/

.env

# OS Files
.DS_Store
Thumbs.db

.vscode/
.idea/

*.log

# React / Vite
client/node_modules/
client/dist/

build/
dist/
*.egg-info/

.ipynb_checkpoints/

# Docker
.dockerignore